  apiVersion: kafka.strimzi.io/v1beta2
  kind: KafkaConnector
  metadata:
    name: postgresql-debezium
    namespace: '{{quarkuscoffeeshop_project}}'
    labels:
      strimzi.io/cluster: postgresql-debezium
  spec:
    class: io.debezium.connector.postgresql.PostgresConnector
    tasksMax: 1
    config:
      database.hostname: '{{ postgresql_host }}'
      database.port: 5432
      database.user: '{{ postgresql_user }}'
      database.password: '{{ postgresql_password }}'
      database.dbname: coffeeshopdb
      database.server.name: dbserver1
      schema.include: coffeeshop
      database.history.kafka.bootstrap.servers: my-cluster-kafka-bootstrap:9093
      database.history.kafka.topic: schema-changes.coffeeshop
      plugin.name: pgoutput
